<!DOCTYPE html>
<!DOCTYPE html>
<div class="container-waiter">
  
    <header>
      <img class="logo" src="./assets/burger-queen.png" alt="Burger Queen">

      <span> <a routerLink="/" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hove">HOME</a></span>
    <nav><ul>
      <li></li>
      <li></li>
      <li></li>
    </ul></nav>
    </header>
    <main>
      <button>Desayuno</button>
      <button routerLink="/waiter/lunch">Almuerzo</button>
  
  
    </main>
 
  
  </div>