<!DOCTYPE html>
<div class="container-header">
  
    <header>
      <img class="logo" src="./assets/burger-queen.png" alt="Burger Queen">
      <!-- <span> <a routerLink="/" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">HOME</a></span> -->
         <!-- <button type="button" class="btn  btn-login" routerLink="/login" data-bs-toggle="dropdown" aria-expanded="false"
         data-bs-auto-close="outside">
         Ingresar
       </button>
       
       <button type="button" class="btn btn-login" routerLink="/signup" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
         Registrarse
         </button> -->
      
   
    
  </header>
</div>
<div class="container-login">
    <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">
        <h3>Login</h3>
        <div class="form-group">
            <label>Correo electronico</label>
            <input type="text" formControlName='email' class="form-control" placeholder="Ingrese su email" />


            <div class="text-danger mt-2" *ngIf="email.errors?.['required'] && email.touched">
                El email es obligatorio
            </div>
            <div class="text-danger mt-2" *ngIf="email.errors?.['email'] && email.touched">
                El email es invalido
            </div>
        </div>

        <div class="form-group mt-2">
            <label>Contraseña</label>
            <input type="password" formControlName='password' class="form-control mb-3 mt-3"

                placeholder="Ingrese contraseña" />
            <div class="text-danger mt-2" [hidden]="password.valid || password.pristine">
                <span *ngIf="password.errors?.['required'] && password.touched">La contraseña es obligatorio</span>

                <span *ngIf="password.errors?.['minlength'] && password.touched">La contraseña debe ser contener minimo 6
                    caracteres </span>
                <span *ngIf="password.errors?.['maxlength'] && password.touched">La contraseña debe ser contener maximo 15
                    caracteres</span>
            </div>

        </div>

     <!--   <span>Crea un nuevo usuario <a routerLink="/register">Registrate</a></span>-->
        <br>
        <button type="submit" class="btn btn-success mb-3 mt-3">Ingresar </button>
        <!-- {{login.invalid }} -->
        <!-- {{login.value.fname}} -->
    </form>

</div>
<!-- <span>Crea un nuevo usuario  <a routerLink="/signup" >Registrate</a></span> -->
<!-- <router-outlet></router-outlet> -->