<!DOCTYPE html>
<div class="container">
    <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">
        <h3>Login</h3>
        <div class="form-group">
            <label>Correo electronico</label>
            <input type="text" formControlName='email' class="form-control" placeholder="Enter email" />

            <div class="text-danger mt-2" *ngIf="email.errors?.['required'] && email.touched">
                El mail es obligatorio
            </div>
            <div class="text-danger mt-2" *ngIf="email.errors?.['email'] && email.touched">
                El email es invalido
            </div>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" formControlName='password' class="form-control mb-3 mt-3"
                placeholder="Enter pasword" />
            <div class="text-danger mt-2" [hidden]="password.valid || password.pristine">
                <span  *ngIf="password.errors?.['required'] && password.touched">El password es obligatorio</span>

                <span *ngIf="password.errors?.['minlength'] && password.touched">El password debe ser contener minimo 6
                    caracteres </span>
                <span *ngIf="password.errors?.['maxlength'] && password.touched">El password debe ser contener maximo 15
                    caracteres</span>
            </div>

        </div>

        <span>Crea un nuevo usuario <a routerLink="/register">Registrate</a></span>
        <br>
        <button type="submit" class="btn btn-success mb-3 mt-3">Ingresar </button>
        {{login.invalid }}
        <!-- {{login.value.fname}} -->
    </form>

</div>
<!-- <span>Crea un nuevo usuario  <a routerLink="/signup" >Registrate</a></span> -->
<!-- <router-outlet></router-outlet> -->