<!DOCTYPE html>

<div class="container-header">
  
  <header>
    <img class="logo" src="./assets/burger-queen.png" alt="Burger Queen">

      <nav class="menulist">
        
       <span class="material-symbols-outlined" (click)="toggleMenu()">
         menu
         </span>
         <ul *ngIf="isMenuOpened">
           <li routerLink="/login">Ingresar</li>
           <li  routerLink="/register"> Registrarse</li>
         </ul>
       <!-- <button type="button" class="btn  btn-login" routerLink="/login" data-bs-toggle="dropdown" aria-expanded="false"
       data-bs-auto-close="outside">
       Ingresar
     </button>
     
     <button type="button" class="btn btn-login" routerLink="/signup" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
       Registrarse
       </button> -->
    
     
      </nav>
   
 
  
</header>
</div>
<div class="container-h">
   <main>

  
 <div class="leftSide">
    <h1 class="primaryText">La mejor opcion para comer Hamburguesas</h1>
    <p class="secondaryText text-red mb-4">Puedes comer la mejor!</p>
    <div class="schedule">
     <h3 class="primaryText text-red">Desayuno</h3>
     <p class="secondaryText">Horario: 07:00 a 10:00</p>
    </div>
    <div class="schedule">
     <h2 class="primaryText text-red">Almuerzo</h2>
     <p class="secondaryText">Horario: 10:00 a 06:00</p>
    </div>
 </div>
 <div class="rigthSide">
    <img class="img-burguer" src="./assets/BURGER.jpg" alt="burguer">
    <article>
     <h3 class="primaryText text-red">Abrimos las 24 horas</h3>
     <p class="secondaryText">Esta tienda tiene 3 años de trayectoria,
       y cuenta con las mejores hamburguesas de la ciudad. Nuestros clientes disfrutan la experiencias de comer.</p>
    </article>
   
 </div>
</main>
</div>


<!-- <router-outlet></router-outlet> -->