
.container{
    display: flex;
    justify-content: center;
}


section{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.img-product{
    width: 4rem;
}

section:nth-child(2){
    padding: 1rem;
    justify-content: center;
    background-color: white;
    max-height: 60vh;
    overflow: auto;
}

.btnSave{
  align-items: flex-end;
    background-color: #FF9C08;
    font-weight: 600;
    color: white;
}

.tab-users{
    padding: 2rem;
}
/* .tableproducts{
    height: 40vh;
    overflow: auto;
    background-color: red;
} */
@media only screen and (min-width: 576px) and (max-width: 820px){
  
    .logo{
        width: 28%;
    }
    

    }
    
    @media (max-width: 575px) {
    header{
        padding: 0.9rem;
    }
    section{
     width: 100vw;
     overflow: auto;
        padding: 0.9rem;
    }
   
    .btnSave{
        padding: 0.4rem;
        font-weight: 400;
        margin: 0 0.2rem 0 0.2rem;
    }
    .logo{
        width: 30%;
    }
    ul{
        flex-direction: column;
    }
    
    }