<!DOCTYPE html>
<div class="container-admin">

  <header>
    <img class="logo" src="./assets/burger-queen.png" alt="Burger Queen">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn btn-danger " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Usuarios</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn btn-danger active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Productos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button (click)="logout()" class="btn btn-danger " id="pills-profile-tab" data-bs-toggle="pill"
          data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
          aria-selected="false">Cerrar Sesion</button>
      </li>
    </ul>

  </header>



  <!-- Modal registrar -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalle del Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  class="form-box">
            <h3>Productos</h3>

            <br>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text"  class="form-control mb-3 mt-3"
                placeholder="Ingrese un email" />
            </div>

            <div class="form-group">
              <label>Precio</label>
              <input type="text"  class="form-control mb-3 mt-3"
                placeholder="Ingrese contraseña" />
            </div>
            <div class="form-group">
              <label>Imagen</label>
              <input type="file"  class="form-control mb-3 mt-3"
                placeholder="Ingrese contraseña" />
            </div>
            <label>Tipo</label>
            <select class="form-select"  aria-label="Default select example">
              <option selected>Selecciona el tipo de comida</option>
              <option value="Desayuno">Desayuno</option>
              <option value="Almuerzo">Almuerzo</option>
           
            </select>
            <br>
           
            <br>
            <br>
            
            <button type="submit" class="btn btn-success mb-3 mt-3 "
              data-bs-dismiss="modal">Registrar</button>

            <button  type="button" 
     
              class="btn btn-success mb-3 mt-3 mx-3" data-bs-dismiss="modal">Actualizar</button>

            <button type="button"  id='cancel' class="btn btn-secondary mx-3" data-bs-dismiss="modal">Cerrar</button>

          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
      tabindex="0">
      <section>
        <h2 class="secondaryText text-red">Listado de Productos</h2>
        <button class="btn btnSave " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar</button>
      </section>
      <section>
        <table class="table mt-3 table-hover" dataSource="user">
          <thead>
            <tr>
              <th scope="col"> ID </th>
              <th scope="col"> Nombre </th>
              <th scope="col"> Precio </th>
              <th scope="col"> Imagen</th>
              <th scope="col"> Tipo </th>
              <!-- <th scope="col"> Fecha </th> -->
              <th scope="col"> Accion </th>

            </tr>
          </thead>
          <tbody>
            <!-- <tr > -->
            <tr *ngFor="let row of productsData">

              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td>{{row.price}}</td>
              <td><img src="{{row.image}}" class="img-product"   alt=""></td> 
               <td>{{row.type}}</td>  
             <!-- <td>{{row.dateEntry}}</td>  -->

             
              <td>
                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  class="btn btnSave"><span class="material-symbols-outlined">
                    edit
                    </span></button>
                <!-- <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Eliminar</button> -->
                <button class="btn btn-danger mx-3 " data-bs-toggle="modal"
                  data-bs-target="#exampleModal"><span class="material-symbols-outlined">
                    delete
                    </span></button>
                <!-- Modal Eliminar Usuario-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                      </div>
                      <div class="modal-body">
                        ¿Estás seguro de eliminar el ususario ?
                        <!-- {{row.email}} -->
                      </div>
                      <div class="modal-footer">
  
                        <button type="button" id='cancel' class="btn btn-secondary mx-3"
                          data-bs-dismiss="modal">Cerrar</button>
                        <!-- <button (click)="deleteProduct(row)" class="btn btn-danger mx-3">Eliminar</button> -->
                        <button  data-bs-dismiss="modal"  class="btn btn-primary">Eliminar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fin modal eliminar producto -->
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    
    </div>


    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      listado de productos
    </div>

  </div>



  <router-outlet></router-outlet>