<!DOCTYPE html>
<div class="container-breakfast">

   Listado de desayunos y almuerzos
   <!-- <button (click)="getFilterProduct('Desayuno') ">Desayuno</button> -->
   <div class="cardBreakfast" *ngFor="let data of breakfasData">

      <div >
           {{data.name}}
         <p>

            <img src="{{data.image}}" class="rounded float-start" alt="..">
         </p>

         <h2>${{data.price}}</h2>
      </div>
   </div>
</div>
<div class="container-breakfast">
   Listado de desayunos
   <button (click)="getFilterProduct('Desayuno') ">Desayuno</button>
   <button (click)="getFilterProduct('Almuerzo') ">Almuerzo</button>
   <div class="cardBreakfast" *ngFor="let data of filterProducts">
   
      <div >
         <p> {{data.name}}</p> 
         
   
            <img src="{{data.image}}" class="rounded float-start" alt="..">
      
   
         <h2>${{data.price}}</h2>
      </div>
   </div>
</div>
