.logo{
    width: 10%;
    height: 10%;
}

.container-orders{
  
    height: 100vh;
    width: 100vw;
  
}
img {
    width: 4rem;
    /* height: 8%; */
   }

section{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 2rem 0 2rem;
}
section:nth-child(2){
    justify-content: center;
  
}
td{
 align-content: center;
}