<!DOCTYPE html>
<div class="menu">
    <form class="px-4 py-3">
      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Direcc</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@ejemplo.com">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Conttraseña">
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Olvidaste tu contraseña</a>
  </div>