
.form-box{
    width: 500px;
    height: 400px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 10px;

}