<div class="container">
    <form [formGroup]="login" (ngSubmit)="logindata(login)">
        <h3>Login</h3> 
        <div class="form-group">
            <label >User name</label>
            <input type="text" formControlName = 'fname'class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label >Pasword</label>
            <input type="password" formControlName = 'pasword'class="form-control" placeholder="Enter pasword" />
        </div>

        <span>Create New Account <a routerLink="signup">Sign up</a></span>
        <button type="submit" class="btn btn-success">Ingresar </button>
    </form>

</div>

<!-- <router-outled> </router-outled> -->