.container-admin{
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 245, 245);
    /* background-color: white; */

}
.logo{
    width: 10%;
    height: 10%;
}
.container-header{
    margin: 0;
    background-color: white;

}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FAD554;
    padding: 2rem;
}
ul{
    display: flex;
    gap:1px;
    font-weight: bold;
    font-size: 1.5rem;
    
}

li:hover{
    color: #9B1B1B;
}

section{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}
section:nth-child(2){
    justify-content: center;
    background-color: white;
}

.btnSave{
  align-items: flex-end;
    background-color: #FF9C08;
    font-weight: 600;
    color: white;
}
.btnSave:first-child(){
    color: black;
}
.tab-users{
    padding: 2rem;
}
@media only screen and (min-width: 576px) and (max-width: 820px){
  
    .logo{
        width: 28%;
    }
    
    }
    
    @media (max-width: 575px) {
    header{
        padding: 0.9rem;
    }
    section{
     width: 100vw;
     overflow: auto;
        padding: 0.9rem;
    }
    tbody tr td:nth-child(5){
        display: flex;
        gap:0.2rem;
        flex-direction: column;
    }
    .btnSave{
        padding: 0.4rem;
        font-weight: 400;
        margin: 0 0.2rem 0 0.2rem;
    }
    .logo{
        width: 30%;
    }
    ul{
        flex-direction: column;
    }
    
    }
