
<div class="container">
    <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">
        <h3>Login</h3> 
        <div class="form-group">
            <label >Correo electronico</label>
            <input type="text" formControlName = 'fname' class="form-control" placeholder="Enter email" />
       
        <div class="alert alert-danger mt-2" *ngIf="login.get('fname').hasError('required') && login.get('fname').touched">
        El email es obligatorio
       </div>
        </div>

        <div class="form-group" >
            <label >Contraseña</label>
            <input type="password" formControlName = 'pasword' class="form-control mb-3 mt-3" placeholder="Enter pasword" />
            <div class="alert alert-danger mt-2"  >
               <span>El pasword es obligatorio</span>
               <span>El pasword debe ser contener minimo 6 caracteres</span>
               </div>
        
        </div>

        <span>Crea un nuevo usuario  <a routerLink="/signup" >Registrate</a></span>
        <br>
        <button type="submit" class="btn btn-success mb-3 mt-3">Ingresar </button>
        <!-- {{login.value.pasword  }} -->
        <!-- {{login.value.fname}} -->
    </form>

</div>


<!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>