<!-- <h2>Resumen de pedido</h2>
<table class="table">
  
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <<tr *ngFor="let data of productsOrderAr"> -->
      <!-- <tr >
        <th scope="row">1</th> -->
        <!-- <td>Nombre</td>
        <td>1</td>
        <td>500</td>
        <td>500</td>
      </tr>
     
      
    </tbody> -->
  <!-- </table> --> -->