<!DOCTYPE html>

<div class="container-cheff">
    <header>
        <img class="logo" src="./assets/burger-queen.png" alt="Burger Queen">
        <button (click)="logout()" class="btn btn-danger " id="pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">Cerrar Sesion
        </button>
    </header>
    <h2>Ordenes por preparar: </h2>
    <section class="sectionOrder">
        <div class="order-pending-result">
            <div *ngFor="let orderPending of orderToChange">
                <div class="cardOrder">
                    <div class="d-flex justify-content-between">
                    <label> Cliente: {{orderPending.client}}</label> <br>
                    <p><b> Hora: {{orderPending.dateEntry | date:'shortTime'}}</b> <br>
                    Timer: {{ counterTime(orderPending.id,orderPending.dateEntry) }} </p>
                    </div>
                    <table class="table mt-3 table-hover">
                        <thead>
                            <tr>
                                <th scope="col"> Producto </th>
                                <th scope="col"> Cantidad </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <tr *ngFor="let itemProductArr of orderPending.products">

                                <td>
                                    {{itemProductArr.product.name}}
                                </td>
                                <td style="text-align: center">{{itemProductArr.qty}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                   
                  
                    
                    <!-- {{ contador[2] | async }} -->

                    <!-- variable  {{ orderPending.dataEntry}} -->
                    <button type="button" class="btnCooked btn btn-success"
                        (click)="updateOrderStatus(orderPending)">Preparado</button>
                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>