<!DOCTYPE html>
<!-- <app-header></app-header> -->

<div class="container-login">
    <header>
      <button type="button" class="btn  dropdown-toggle" routerLink="/login" data-bs-toggle="dropdown" aria-expanded="false"
      data-bs-auto-close="outside">
      Ingresar
    </button>
    
    <button type="button" class="btn  dropdown-toggle" routerLink="/signup" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Registrarse
      </button>
   
    
   
    <br>
    <br>
    
  </header>
  </div>
<div class="container">
    <main>
 
   
  <div class="left">
     <h1>La mejor opcion para comer Hamburguesas</h1>
     <p>Puedes comer la mejor!</p>
     <div class=""></div>
  </div>
  <div class="rigth">
     <img class="img-burguer" src="./assets/BURGUER.jpg" alt="burguer">
  </div>
 </main>
 </div>


<router-outlet></router-outlet>