<!DOCTYPE html>


<div class="container-login">
  
   <header>
     <svg width="188" height="86" viewBox="0 0 188 86" fill="none" xmlns="http://www.w3.org/2000/svg">
      
       </svg>
       
     <button type="button" class="btn  dropdown-toggle" routerLink="/login" data-bs-toggle="dropdown" aria-expanded="false"
     data-bs-auto-close="outside">
     Ingresar
   </button>
   
   <button type="button" class="btn  dropdown-toggle" routerLink="/signup" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
     Registrarse
     </button>
  
   
  
   <br>
   <br>
   
 </header>
 </div>
<div class="container-h">
    <main>

   
  <div class="left">
     <h1>La mejor opcion para comer Hamburguesas</h1>
     <p>Puedes comer la mejor!</p>
     <div class="schudele">
      <h2>Desayuno</h2>
      <p>Horario:</p>
     </div>
     <div class="schudele">
      <h2>Almuerzo</h2>
      <p>Horario:</p>
     </div>
  </div>
  <div class="rigth">
     <img class="img-burguer" src="./assets/BURGUER.jpg" alt="burguer">
     <article>
      <h3>Abrimos las 24 horas</h3>
      <p>Esta tienda tiene 3 años de trayectoria,
        y cuenta con las mejores hamburguesas de la ciudad. Nuestros clientes disfrutan la experiencias de comer.</p>
     </article>
    
  </div>
 </main>
 </div>


<router-outlet></router-outlet>