<!DOCTYPE html>

<div class="container-cheff">
    <section class="sectionOrder">
        <div *ngFor="let orderPending of orderToChange">
            <div class="cardOrder">
                <!-- <label> Cliente: {{orderPending.client}}</label> <br> -->
                <div class="d-flex justify-content-between">
                    <label> Cliente: {{orderPending.client}}</label> <br>
                    <p *ngIf="timerCheff"><b> Hora: {{orderPending.dateEntry | date:'shortTime'}}</b> <br>
                        Timer: {{ counterTime(orderPending.id,orderPending.dateEntry) }} </p>
                </div>
                <table class="table mt-3 table-hover">
                    <thead>
                        <tr>
                            <th scope="col"> Producto </th>
                            <th scope="col"> Cantidad </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <tr *ngFor="let itemProductArr of orderPending.products">
                            <td>
                                {{itemProductArr.product.name}}
                            </td>
                            <td [ngStyle]="{'text-align':'center'}">{{itemProductArr.qty}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button *ngIf="buttonWaiter" type="button" class="btnCooked btn btn-success"
                    (click)="updateOrderDeliveries(orderPending)">Entregado</button>

                <button *ngIf="buttonCheff" type="button" class="btnCooked btn btn-success"
                    (click)="updateOrderStatus(orderPending)">Preparado</button>
            </div>
        </div>
    </section>