body{

    font-family: 'Poppins', sans-serif;
  }
  .primaryText {
      
      font-size: 3rem;
      font-weight: bold;
    }
    
    .secondaryText {
     
      line-height: 50px;
      font-size: 1.3rem;
      font-weight: 500
    }
  
    .text-red{
      color: #9B1B1B;
    }
    @media (max-width: 860px ) {
      .primaryText {
        font-size: 2.5rem;
  
      }
      .secondaryyText {  
        font-size: 1.1rem;
        line-height: 40px;
      }
    }